<!DOCTYPE html>
<html>
<head>
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <h1>Welcome to Rock Paper Scissors!</h1>
    <div class="game-container">
        <div class="choices">
            <button class="choice-btn" onclick="playGame('rock')">Rock</button>
            <button class="choice-btn" onclick="playGame('paper')">Paper</button>
            <button class="choice-btn" onclick="playGame('scissors')">Scissors</button>
        </div>
        <div id="result"></div>
        <button id="play-again-btn" onclick="playAgain()">Play Again</button>
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>
